div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.imgApolo {
    transition: transform 0.3s ease;
}

.imgApolo:hover {
    transform: rotate(45deg);
}

.apoloTitle {
    margin-bottom: 100px;
    color: orange;
    font-size: 100px;
}